html, body {
    margin: 0;
    padding: 0;
}

@keyframes pop-in {
    from {
        opacity: 0.3;
        transform: scale(0.8);
    }

    to {
        opacity: 1;
        transform: scale(1);
    }
}

.fm-list {
    margin-top: 45px;    
    display: flex;
    background: #fff;
    font: 9.75pt 'Segoe UI', Arial, Helvetica, sans-serif;
    color: #333;
    overflow: auto;
    flex-direction: column;
    flex-wrap: wrap;
}

.fm-list-item {
    display: flex;
    flex-direction: row;
    background: transparent;
    border-radius: 4px;
    width: auto;
    padding: 10px;
    margin: 5px;
    cursor: pointer;
    user-select: none;
    transition: background 0.3s ease-out 0s;
    align-items: center;
}

.fm-list-item:hover {
    background: #ccc;
}

.fm-list-item__icon {
    display: inline-block;
    position: absolute;
    font-size: 24px;
    color: white;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}



.fm-list-item__frame {
    position: relative;
    height: 32px;
    width: 32px;
    display: inline-block;
    background: dodgerBlue;
    padding: 10px;
    border-radius: 50%;
    animation: pop-in 0.2s ease-in;
}

.fm-list-item__frame--folder {
    background: orange;
}

.fm-list-item__frame--file {
    background: dodgerBlue;
}

.fm-list-item__label {
    flex: 1;
    display: block;
    width: 100%;
    text-align: left;
    font-size: 12pt;
    margin-left: 15px;
    white-space:nowrap;
}

.fm-nav {
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    width: 100%;
    background: #888;
    color: white;
    font-weight: bold;
    text-align: center;
    font-size: 12pt;
    padding: 10px;
}